
body {
	font-family: "Helvetica";
	background : #ccc ;
	font-size: 14px;
	max-width: 600px;
	margin:auto;
}

/****************************************/
/*                BLOCS                 */
/****************************************/

.bloc {
	border: 1px solid black;
	margin:5px;
	background: #fff;
}

.content {
	background-repeat: no-repeat;
background-position: bottom left;
	padding-left: 60px;
	width: auto;
	overflow: hidden;
}
.content p {
	display: block;
	padding: 5px;
	margin:0px;
	width: auto;
	min-height: 50px;
}


/****************************************/
/*                TITRE                 */
/****************************************/

h1 {
	font-size: 14px;
	margin:0;
	padding: 5px;

}

/****************************************/
/*                CHOIX  ET CYCLES     */
/****************************************/

.choices, .progress-bar{
	width: 100%;
	min-height: 20px;
	border-top: 1px solid black;
}
.choices :first-child{
	border-right: 1px solid black;
	margin-right: -1px;
}
.button {
	display: inline-block;
	width: 50%;
	text-align: center;
	text-decoration: none;
	color: black;
	text-transform: lowercase;
}
.button:hover{
	text-transform:uppercase;
}
.impossible{
	text-decoration:line-through;
}

.progress{
	background-color: #bbb;
	height: 20px;
}

/****************************************/
/*              RESSOURCES              */
/****************************************/

#ressources {
	display: flex;
}
.ressource {
	align-self: center;
	margin:5px;
	padding-left: 25px;
	height : 20px;
	background-repeat: no-repeat;
}
