
body {
	font-family: "Helvetica";
	background : #fff ;
	font-size: 14px;
	max-width: 600px;
	min-width: 300px;
	margin:auto;
}

strong, h1 {
   text-transform: uppercase;
}
/****************************************/
/*                BLOCS                 */
/****************************************/

.bloc {
	border: 1px solid black;
	margin:5px;
  background : #ddd;

}

.bloc:hover {
	background: #fff;

}

.bloc.new {
	background: #fff;

}
.content {
	background-repeat: no-repeat;
background-position: bottom left;
	padding-left: 60px;
	width: auto;
	overflow: hidden;
}
.content p {
	display: block;
	padding: 5px;
	margin:0px;
	width: auto;
	min-height: 50px;
}


/****************************************/
/*                TITRE                 */
/****************************************/

h1 {
	font-size: 14px;
	margin:0;
	padding: 5px;

}

/****************************************/
/*                CHOIX  ET CYCLES     */
/****************************************/

.choices, .progress-bar{
	display: flex;
	align-items : stretch;
	align-content : center;
	justify-content : space-around;

	width: 100%;
	min-height: 20px;
	border-top: 1px solid black;
}
/*
.choices :first-child{
	border-right: 1px solid black;
	margin-right: -1px;
}*/
.button {
  flex-grow : 1;
	text-align: center;
	text-decoration: none;
	color: black;
	height: 100%;
	border-left: 1px solid black;
	margin-left : -1px;
	padding: 2px;
	background : #ddd;
}
.button:hover{
	background : #fff;
}
.button:hover{
	background : #fff;
}
.impossible{
	text-decoration:line-through;
	background : #bbb;

}
.impossible:hover{
	text-decoration:line-through;
	background : #bbb;
}

.progress{
	background-color: #bbb;
	height: 20px;
}

/****************************************/
/*              RESSOURCES              */
/****************************************/

#ressources {
	display: flex;
	flex-wrap: wrap;
}
.ressource {
	align-self: center;
	margin:5px;
	padding-left: 25px;
	height : 20px;
	background-repeat: no-repeat;
}
